<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your order: <%= @order.id %>!</h1>

    <% @order.line_items.each do |item| %>
      <p> <%= item.product.name%> </p>
    <% end %>
    <p> Your order total is : <%= @order.total_cents.to_f/100 %> </p>




  </body>
</html>