// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// .row { outline: 1px solid red; }

// [class^=col] { outline: 1px solid green; }
